<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e87285">  <td>20/10/11 14:49:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ExtendReport.setup()[pri:0, instance:com.galaxy.project.extend.ExtendReport@7ce6a65d]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1291113768</td>   <td></td> </tr>
<tr bgcolor="e87285">  <td>20/10/11 14:49:53</td>   <td>24073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ExtendReport.setup()[pri:0, instance:com.galaxy.project.extend.ExtendReport@7ce6a65d]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1291113768</td>   <td></td> </tr>
<tr bgcolor="e87285">  <td>20/10/11 14:50:13</td>   <td>44607</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ExtendReport.setup()[pri:0, instance:com.galaxy.project.extend.ExtendReport@7ce6a65d]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1291113768</td>   <td></td> </tr>
<tr bgcolor="e87285">  <td>20/10/11 14:49:42</td>   <td>12956</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtendReport.testLoginPageObject()[pri:1, instance:com.galaxy.project.extend.ExtendReport@7ce6a65d]">testLoginPageObject</td> 
  <td>main@1291113768</td>   <td></td> </tr>
<tr bgcolor="e87285">  <td>20/10/11 14:50:04</td>   <td>35385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtendReport.testLoginPageObjectFaild()[pri:2, instance:com.galaxy.project.extend.ExtendReport@7ce6a65d]">testLoginPageObjectFaild</td> 
  <td>main@1291113768</td>   <td></td> </tr>
<tr bgcolor="e87285">  <td>20/10/11 14:50:25</td>   <td>55794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtendReport.testLoginPageObjectFaildSecondCase()[pri:3, instance:com.galaxy.project.extend.ExtendReport@7ce6a65d]">testLoginPageObjectFaildSecondCase</td> 
  <td>main@1291113768</td>   <td></td> </tr>
</table>
