<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c0a365">  <td>20/10/11 13:49:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;loginTest.setup(java.lang.String)[pri:0, instance:com.galaxy.project.login.loginTest@646d64ab]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1168088451</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>20/10/11 13:49:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;loginTest.setup(java.lang.String)[pri:0, instance:com.galaxy.project.login.loginTest@36b4cef0]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@2079147397</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>20/10/11 13:49:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;loginTest.setup(java.lang.String)[pri:0, instance:com.galaxy.project.login.loginTest@1a8a8f7c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@981318218</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>20/10/11 13:49:00</td>   <td>127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginTest.testLoginPageObject()[pri:1, instance:com.galaxy.project.login.loginTest@36b4cef0]">testLoginPageObject</td> 
  <td>TestNG-tests-3@2079147397</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>20/10/11 13:49:00</td>   <td>135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginTest.testLoginPageObjectFaild()[pri:2, instance:com.galaxy.project.login.loginTest@36b4cef0]">testLoginPageObjectFaild</td> 
  <td>TestNG-tests-3@2079147397</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>20/10/11 13:49:05</td>   <td>4879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginTest.testLoginPageObject()[pri:1, instance:com.galaxy.project.login.loginTest@646d64ab]">testLoginPageObject</td> 
  <td>TestNG-tests-1@1168088451</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>20/10/11 13:49:07</td>   <td>6903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginTest.testLoginPageObject()[pri:1, instance:com.galaxy.project.login.loginTest@1a8a8f7c]">testLoginPageObject</td> 
  <td>TestNG-tests-2@981318218</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>20/10/11 13:49:29</td>   <td>29717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginTest.testLoginPageObjectFaild()[pri:2, instance:com.galaxy.project.login.loginTest@1a8a8f7c]">testLoginPageObjectFaild</td> 
  <td>TestNG-tests-2@981318218</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>20/10/11 13:49:29</td>   <td>29715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginTest.testLoginPageObjectFaild()[pri:2, instance:com.galaxy.project.login.loginTest@646d64ab]">testLoginPageObjectFaild</td> 
  <td>TestNG-tests-1@1168088451</td>   <td></td> </tr>
</table>
